@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<br />
<p>Bruno's Tipper and Lodear Hire has been providing top grade earthmoving services for over 20 years,</p>
<p>Specialising in Block Clearning, House Site Preparations, Extension Preparations and all Demolitions.</p>
<p>Bruno's Tipper and Loader Hire can supply quarry materials, Sand and Gravel and also Moss Rocks</p>
<br />
<p>Machinery List</p>
<ul>
    <li>12 Tonne Tipper</li>
    <li>Excavator</li>
    <li>Bobcat</li>
    <li>Rock Breaker</li>
    <li>Auger</li>
</ul>