@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title</h2>
<br/>
<address>
    <strong>Phone Number:</strong> 0419 876 651
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">brunobobcat@gmail.com</a><br />
</address>

<a href="https://www.facebook.com/brunostipperandloaderhire/" target="_blank">
    <img src="~/Images/fbIcon.png" id="fbIcon" />
</a>
